@charset "UTF-8";

@font-face {
    font-family: 'KIMM_Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/KIMM_Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

.community_title{
    font-family: 'KIMM_Bold';
    font-size : 5em;
}

.communityView
{
	text-align:left;
	margin-left:300px;
	margin-right:300px;
}