@charset "UTF-8";

@font-face {
    font-family: 'KIMM_Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/KIMM_Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
.communityView
{	
	margin-top: 20px;
}

.listcontainer{
	width:100%;
	margin: auto;
}
.community_title{
    font-family: 'KIMM_Bold';
    font-size : 50px;
    margin-top: 15px;
}

.communityView
{
	text-align:left;
	margin-left:300px;
	margin-right:300px;
}

.writer_wrap
{
    margin: 10px auto;
	display:flex;
}

.Writer{
	font-size: 20px;
}
.community_update
{
	margin-left: auto;
	float: right;
}

.community_delete
{
	margin-right:10px;	
	float: right;
}

.community_Modify{
	float: right;
	margin-top: 15px;
}
.DateAndViews
{
    margin: 10px auto;
	display:flex;
	font-size: 20px;
}

.Date
{
}

.hits
{
    margin-left: 10px;
}

.content
{
	font-size: 30px;	
	font-family: 'KIMM_Bold';
	
}

.comment_count{
	font-size: 20px;
	font-family: 'KIMM_Bold';
	margin-bottom: 10px;
}

.replyinsert_wrap
{
	margin-top: 10px;
}
.community_content
{
	width:100%;
    font-family: 'KIMM_Bold';
    font-style: normal;
    font-size : 1em;    
}

.boardnav
{
	width:100%;
	height:15px;
background-color: #495057;
 }
 
.boardcontainer
{
	margin-top: 50px;
	width:85%;
	  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.boardtitle
{
    font-family: 'KIMM_Bold';
    font-style: normal;
    font-size : 50px;    
}
.trhead
{
	background-color: #e5e5e5;
	pointer-events: none;
}

tr{height: 50px;
vertical-align:middle;
    font-size : 18px;    
}

.th1{
	width:10%;
}

.th2{
	width:50%;
}

.td{
	text-decoration:none;
	
}


.th3{
	width:15%;
}
.th4{
	width:15%;
}
.th5{
	width:10%;
}

.page_control{
	margin-top: 25px;
}